<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
</head>
<body>
    <header>
        <h1>Главная страница<h1>
    </header>
    <main>
        <!-- Ваши данные из контекста -->
        <div class="completed-requests">
            <h2>Последние выполненные заявки:</h2>
            {% for request in completed_requests %}
                <p>{{ request.title }}</p>
            {% endfor %}
        </div>
        <p>Количество заявок в работе: {{ in_progress_count }}</p>
        <h2>Добро пожаловать, {{ user.username }}!</h2>
        {% if user.is_authenticated %}
  <!-- Отображение контента для авторизованного пользователя -->
  <a href="{% url 'user_logout' %}">Выйти</a>
{% else %}
  <!-- Отображение контента для неавторизованного пользователя -->
  <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Зарегистрироваться</a>
{% endif %}
    </main>
    <footer>
        <!-- Ваш футер -->
    </footer>
</body>
</html>
