
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
</head>
<body>
    <header>
        <h1>Главная страница</h1>
    </header>
    <main>
        <img src="https://avatars.mds.yandex.net/i?id=974d3fbe0496c8715e4141527bcc9830_l-5497593-images-thumbs&n=27&h=480&w=480"
        <!-- Ваши данные из контекста -->
        <div class="completed-requests">
            <h2>Последние выполненные заявки:</h2>
            <ul>
                {% for request in completed_requests %}
                    <li>
                        <strong>Временная метка:</strong> {{ request.timestamp }}<br>
                        <strong>Название:</strong> {{ request.title }}<br>
                        <strong>Категория:</strong> {{ request.category.name }}<br>

                        <!-- Добавление изображения заявки -->
                        <img src="{{ request.photo.url }}" alt="{{ request.title }}">
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Ваши заявки -->
        <div class="user-requests">
            <h2>Ваши заявки:</h2>
            <ul>
                {% for request in user_requests %}
                    <li>
                        <strong>Временная метка:</strong> {{ request.timestamp }}<br>
                        <strong>Название:</strong> {{ request.title }}<br>
                        <strong>Категория:</strong> {{ request.category.name }}<br>

                        <!-- Добавление изображения заявки -->
                        <img src="{{ request.photo.url }}" alt="{{ request.title }}">
                    </li>
                {% endfor %}
            </ul>
        </div>

        <h3>Количество заявок в статусе "Принято в работу": {{ in_progress_count }}</h3>

        <!-- Добавление ссылки на просмотр собственных заявок -->


        <h2>Добро пожаловать, {{ user.username }}!</h2>
        {% if user.is_authenticated %}
            <!-- Отображение контента для авторизованного пользователя -->
           <a href="{% url 'logout' %}?next={{ request.path|urlencode }}">Выйти</a>

        {% else %}
            <!-- Отображение контента для неавторизованного пользователя -->
            <a href="{% url 'login' %}?next={{ request.path|urlencode }}">Войти</a> | <a href="{% url 'register' %}">Зарегистрироваться</a>
        {% endif %}
    </main>
    <footer>
        <!-- Ваш футер -->
    </footer>
</body>
</html>
