<!-- user_profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>
<body>
    <header>
        <h1>Личный кабинет пользователя</h1>
    </header>
    <main>
        <h2>Информация о пользователе</h2>
        <p>Имя пользователя: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>

        <h2>Ваши заявки</h2>
        <ul>
            {% for request in user_requests %}
                <li>
                    <strong>Временная метка:</strong> {{ request.timestamp }}<br>
                    <strong>Название:</strong> {{ request.title }}<br>
                    <strong>Описание:</strong> {{ request.description }}<br>
                    <strong>Категория:</strong> {{ request.category.name }}<br>
                    <strong>Статус:</strong> {{ request.status }}<br>
                  {% if request.photo %}
            <img src="{{ request.photo.url }}" alt="{{ request.title }}"><br>
        {% endif %}
                    <a href="{% url 'edit_design_request' request.id %}">Редактировать</a>
                    <a href="{% url 'delete_design_request' request.id %}" onclick="return confirmDelete()">Удалить</a>
                </li>
            {% endfor %}
        </ul>

        <h2>Создать новую заявку</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'create_design_request' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Создать заявку</button>
                <ul>
            {% if user.is_staff %}
                <li><a href="{% url 'add_category' %}">Добавить категорию</a></li>
                <li><a href="{% url 'manage_categories' %}">Управление категориями</a></li>
            {% endif %}
        </ul>
        </form>
    </main>
    <footer>
        <!-- Ваш футер -->
    </footer>

    <script>
        function confirmDelete() {
            return confirm("Вы уверены, что хотите удалить эту заявку?");
        }
    </script>
</body>
</html>
